.photo-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  padding: 20px;
}

.photo-gallery img {
  width: 100%; 
  height: auto;
  object-fit: cover; 
  border-radius: 10px;
  cursor: pointer; 
}

.photo-gallery img:hover {
  transform: scale(1.05); 
    transition: transform 0.3s ease;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Responsive design: One photo per row on smaller screens */
@media (max-width: 768px) {
  .photo-gallery {
    grid-template-columns: 1fr; /* One image per row for mobile */
  }
}
